.container{
   height: 80vh;
   margin-top: 50px;
}
.form-cont{
  width: 500px;
  height: 380px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
