<div style="margin: 50px;">
    <div class="bg-warning" style="width: 200px; display: inline-block;">
        <mat-card>
            <mat-card-title>Total Appointements</mat-card-title>
            <mat-card-content>{{totalAppointments}}</mat-card-content>
          </mat-card>
    </div>
    <div style="width: 200px;">
        <mat-card>
            <mat-card-title>Monthly Revenue</mat-card-title>
            <mat-card-content>{{monthlyRev}}</mat-card-content>          </mat-card>
    </div>
    <div style="width: 200px;">
        <mat-card>
            <mat-card-title>Weekly Revenue</mat-card-title>
            <mat-card-content>{{weeklyRev}}</mat-card-content>          </mat-card>
    </div>
    
    
    <div style="width: 600px;height: 600px;">
        <canvas #myChart></canvas>
      </div>
    
</div>

